* {
    margin: 0;
    padding: 0;
}
center {
    padding-left: calc(50% - 720px);
    padding-right: calc(50% - 720px);
}

.wrapper {
    background-image: url(Picture/fon.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 1024px;
}
.top__blok {
    padding-top: 217px;
    margin-left: 120px;
    margin-right: 531px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.top__blok-title { 
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 64px;
    line-height: 78px;
    align-items: center;
    color: #FFFFFF;
}
.top__blok-opisanie {
    height: 64px;
    padding-top: 32px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;    
    color: #FFFFFF;
    margin-bottom: 44px;
}
.top__blok-button {
    width: 234px;
    height: 49px;
    background: #9C0332;
    border-radius: 30px;
    color: #FFFFFF;
    transition: all 1.1s ease-in-out;
}
.top__blok-button:hover {
    background-color: bisque;
    color: black;
    transform: scale(1.1);
    transition: all 1.1s ease-in-out;
}


.blok__conteiner {
    display: flex;
    justify-content: center;
    gap: 32px;
    background-color: black;
    padding-top: 129px;
    padding-bottom: 129px;
    width: 100%;
}
.blok__conteiner-image {
    font-family: 'Montserrat';
    width: 379px;
    height: 300px;
    color: #FFFFFF;
    position: relative;
}
.blok__conteiner-image:hover {
    border: 2px solid rgb(14, 146, 248);
}


.blok__conteiner-play {
    position: absolute;
    left: 32px;
    bottom: 32px;
}
.block_seasons {
    width: 100%;
    min-height: 800px;
    background: #000915;
    display: flex;
}
.block_seasons-content {
    color: #FFFFFF; 
    margin-left: 120px;
    padding-top: 282px;
}

.block_seasons-title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 59px;
    padding-bottom: 32px;
}

.block_seasons-text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 32px;
    width: 584px;
    padding-bottom: 32px;
}

.block_seasons-button {
    width: 234.06px;
    height: 48.6px;
    background: #9C0332;
    border-radius: 30px;
    color: #FFFFFF;
    transition: all 1.1s ease-in-out;
}
.block_seasons-button:hover {
    background-color: bisque;
    color: #000915;
    transform: scale(1.1);
    transition: all 1.1s ease-in-out;
}


.block_seasons_image {
    padding-top: 233px;
    padding-left: 135px;
}

.blok_remember {
    width: 100%;
    background: #000915;
    display: flex;
    padding-bottom: 242px;
}

.block_remember_image {
    padding-left: 120px;
    width: 481px;
    height: 322px;
}

.blok_remember_content {
    display: flex;
    flex-direction: column;
    padding-left: 135px;
}

.block_remember-title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 59px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    padding-bottom: 32px;
}
.block_remember-text {
    width: 588px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 32px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    padding-bottom: 32px;
}
.block_remember-button {
    width: 234.06px;
    height: 48.6px;
    background: #9C0332;
    border-radius: 30px;
    color: #FFFFFF;
    transition: all 1.1s ease-in-out;
}
.block_remember-button:hover {
    background-color: bisque;
    color: #000915;
    transform: scale(1.1);
    transition: all 1.1s ease-in-out;
}

@media all and (max-width: 375px) {
    .center {
        padding-left: calc(50% - 171px);
        padding-right: calc(50% - 171px);
    }
    .wrapper {
        height: 735px;
    }
    .top__blok {
        padding-top: 217px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;  
        margin-right: 16px;  
        margin-left: 16px;
    }
    .top__blok-title {
        display: flex;
        justify-content: center;
        font-size: 32px;
        line-height: 39px;
        text-align: center;
    }
    .top__blok-opisanie {
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height:22px;
        text-align: center;
    }
    .blok__conteiner {
        flex-direction: column;
    }
    .blok__conteiner-image img {
        width: 343px;
        padding-left: 16px;
        padding-right: 16px;
    }
    .block_seasons {
        display: flex;
        flex-direction: column;
    }
    .block_seasons-content {
        padding-top: 51px;
        margin-left: 16px;
        margin-right: 16px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        align-items: center;
    }
    .block_seasons-title {  
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 39px;
        display: flex;
        align-items: center;
        text-align: center;
        color: #FFFFFF;
    }
    .block_seasons-text {
        width: 343px;
        padding-left: 16px;
        padding-right: 16px;
        text-align: center;
        align-content: center;
        justify-content: center;
    }

    .block_seasons-button {
        margin-top: 32px;
    }
    .block_seasons_image {
        padding-top: 64px;
        padding-left: 16px;
        padding-right: 12px;
        display: flex;
        justify-content: center;
    }
    .block_seasons_image img {
        width: 344px;
        height: 236px;
    }
    .blok_remember {
        flex-direction: column-reverse;
        padding-bottom: 98px;
    }
    .blok_remember_content {
        padding-left: 16px;
        padding-right: 16px;
        align-items: center;
    }
    .block_remember-title {
        font-size: 32px;
    }
    .block_remember-text {
        font-size: 14px;
        width: 343px;
        align-items: center;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 22px;
        display: flex;
        align-items: center;
        text-align: center;
        color: #FFFFFF;
    }
    .block_remember_image {
        padding-top: 77px;
        padding-left: 15px;
        padding-right: 15px;
    }

    .block_remember_image img {
        width: 344px;
        height: 231px;
    }
    



}