* {
    margin: 0;
    padding: 0;
}
.wrapper {
    background-image: url(Picture/fon.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 1440px;
    height: 1024px;
}
.top__blok {
    padding-top: 217px;
    margin-left: 120px;
    margin-right: 531px;
    display: flex;
    flex-direction: column;
}
.top__blok-title { 
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 64px;
    line-height: 78px;
    align-items: center;
    color: #FFFFFF;
}
.top__blok-opisanie {
    width: 481px;
    height: 64px;
    padding-top: 32px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;    
    color: #FFFFFF;
    margin-bottom: 44px;
}
.top__blok-button {
    width: 234px;
    height: 49px;
    background: #9C0332;
    border-radius: 30px;
    color: #FFFFFF;
}
.blok__conteiner {
    display: flex;
    justify-content: center;
    gap: 32px;
    background-color: black;
    padding-top: 129px;
    padding-bottom: 129px;
}
.blok__conteiner-image {
    font-family: 'Montserrat';
    width: 379px;
    height: 300px;
    color: #FFFFFF;
    position: relative;
}
.blok__conteiner-play {
    position: absolute;
    left: 32px;
    bottom: 32px;
}